<% content_for(:title, 'О проекте')%>

<%= link_to '<p class="back-main-btn"><На главную</p>'.html_safe, root_path, target: "_self" %>

<div class="about-us">

  <h2>О проекте</h2>

  <div class="about-us-block">
    <%= image_tag "big-logo.PNG", alt: "about_logo", class: "about-logo" %>
  </div>

  <div class="about-us-info">

  <p><span>M'Vive Fashion News</span> - Интернет-издание о моде в Украине. Последние и актуальные новости моды 2017 со всей Украины. Онлайн сервис для дизайнеров/модельеров, фотографов и моделей. Уникальная Freelance-площадка где у Вас есть возможность легко найти партнера для профессиональной фотосъемки, показать себя другим и попасть в мир высокой моды.</p>

    </br>

    <h3>Цель проекта</h3>

    <p>Наша цель собрать всех модельеров, фотографов и моделей со всего мира в одном месте что бы у каждого была возможность не просто показать чем он занимается, а также получить возможность попробовать себя професионально в мире высокой моды.</br> Особенно мы будем делать акцент на модельеров-новичков, у которых есть навыки, желание и мечта, но нет возможности показать себя всем.</p>

    <h3>Наши преимущества</h3>

    <p>Красивый и современный дизайн, простой и понятный интерфейс, разширеный поиск по категориях и городах, лента обновлений Ваших подписчиков, свежие и актуальные новости моды со всего мира, объявления Fashion-событий в каждом городе, а самое главное это "Онлайн-кастинг", где каждый сможет найти или предложить роботу! </br> Также мы будем проводить наши именные Fashion-события/кастинги в которых смогуть принять участие только участники нашего сервиса.</p>

    </br>

  </div>
</div>