<% content_for(:title, 'Про нас')%>

<%= link_to '<p class="back-main-btn"><На головну</p>'.html_safe, root_path, target: "_self" %>

<div class="about-us">

  <h2>Про нас</h2>

  <div class="about-us-block">
    <%= image_tag "big-logo.PNG", alt: "about_logo", class: "about-logo" %>
  </div>

  <div class="about-us-info">
    <p><span>M'Vive Fashion News</span> - Інтернет-видання про моду та світського життя в Україні. Останні і актуальні новини моди 2017. Онлайн сервіс для дизайнерів / модельєрів, фотографів, стилістів та моделей. Унікальний Freelance-майданчик де у Вас є можливість легко знайти партнера для професійної зйомки, показати себе іншим і потрапити в світ високої моди.</p>

  </div>
</div>