<% content_for(:title, 'Реклама на сайті')%>

<%= link_to '<p class="back-main-btn"><На головну</p>'.html_safe, root_path, target: "_self" %>

<div style="text-align: center">
  <div class="about-us-block">
    <%= image_tag "big-logo.PNG", alt: "about_logo", class: "about-logo" %>
  </div>
</div>
<h2 style="text-align: center">На рахунок реклами писати на емейл - info.mvive@gmail.com !</h2>