<div class="global-scope">
	<div class="settings-scope">
		<h2>Раcскажите нам о себе</h2>
		<div class="settings-menu">
			<div class="settings-menu-item " id="private-menu-item">
				<p></p>
			</div>
		</div>
		<%= render "forms/user_main_form" %>
	</div>
</div>