	<div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="info-row">
                    <div class="info-content content_anim16" id="first-info">
                        <%=image_tag "info-photo.PNG", alt: "info-photo"%>
                        <p>Покажи всему миру
                            <br>свое <span>портфолио, </span>подними
                            <br>рейтинг и шанс на успех.</p>
                    </div>
                    <div class="info-content content_anim15" id="second-info">
                        <%=image_tag "info-users.PNG", alt: "info-photo"%>
                        <p>Общайся и объединяйся
                            <br>в большое <span>сообщество</span>, делись
                            <br>опытом и новыми идеями.</p>
                    </div>
                    <div class="info-content content_anim17" id="second-info">
                        <%=image_tag "info-money.PNG", alt: "info-photo"%>
                        <p>Продавай или покупай
                            <br>услуги. <span>зарабатывать </span>на
                            <br>хобби стало намного легче.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

