<form class="reg-scale" id="mailer-form">
	<p>Куда отправлять инструкции?</p>
	<div class="input-line" id="mailer-input">
    	<input type="email" placeholder="E-mail...">
	</div>
	<div class="buttons-line">
    	<input type="submit" id="submit-button-mailer" value="Отправить">
    	<input type="reset" id="reset-button-mailer" value="Отмена">
	</div>
	<div class="close-button"></div>
</form>