<div class="footer">
  <div class="footer-items">
    <div class="footer-item">
      <%= link_to '<p>О Проекте</p>'.html_safe, about_path, target: "_self" %>
    </div>
    <div class="footer-item">
      <%= link_to '<p>Реклама</p>'.html_safe, advert_path, target: "_self" %>
    </div>
    <div class="footer-item">
      <%= link_to '<p>Партнеры</p>'.html_safe, partners_path, target: "_self" %>
    </div>
    <div class="footer-item" style="cursor: pointer">
      <a href="http://mvive.net/sitemap.xml.gz"><p>Карта сайта</p></a>
    </div>
    <div class="footer-item">
      <%= link_to '<p>Связь с нами</p>'.html_safe, contact_us_path, target: "_self" %>
    </div>
  </div>
  <p class="all-rights-reserved-p">Все права защищены © 2016 M'Vive Fashion News</p>
</div>