<div class="footer">
  <div class="footer-items">
    <div class="footer-item">
      <%= link_to '<p>О Проекте</p>'.html_safe, about_path, target: "_self" %>
    </div>
    <div class="footer-item">
      <%= link_to '<p>Реклама</p>'.html_safe, advert_path, target: "_self" %>
    </div>
    <div class="footer-item">
      <%= link_to '<p>Партнеры</p>'.html_safe, partners_path, target: "_self" %>
    </div>
    <div class="footer-item">
      <%= link_to '<p>Связь с нами</p>'.html_safe, contactus_path, target: "_self" %>
    </div>
  </div>
</div>