<div class="footer">
  <div class="footer-items">
    <div class="footer-item">
      <%= link_to '<p>О Проекте</p>'.html_safe, about_path, target: "_self" %>
    </div>
    <div class="footer-item">
      <%= link_to '<p>Реклама</p>'.html_safe, advert_path, target: "_self" %>
    </div>
    <div class="footer-item">
      <%= link_to '<p>Партнеры</p>'.html_safe, partners_path, target: "_self" %>
    </div>
    <div class="footer-item" style="cursor: pointer">
      <a href="http://mvive.net/sitemap.xml.gz"><p>Карта сайта</p></a>
    </div>
    <div class="footer-item">
      <%= link_to '<p>Связь с нами</p>'.html_safe, contact_us_path, target: "_self" %>
    </div>
  </div>
  <p class="all-rights-reserved-p">Все права защищены © 2016 M'Vive Fashion News</p>
  <!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='//www.liveinternet.ru/click' "+
    "target=_blank><img src='//counter.yadro.ru/hit?t44.6;r"+
    escape(document.referrer)+((typeof(screen)=="undefined")?"":
    ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
        screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
    ";"+Math.random()+
    "' alt='' title='LiveInternet' "+
    "border='0' width='31' height='31'><\/a>")
//--></script><!--/LiveInternet-->
</div>