<div class="header-nav">
  <ul class="navbar-ul">
    <li class="navbar-li"><a class="navbar-a" href="http://mvive.net/news" target="_self">Все новости</a></li>
    <li class="navbar-li"><a class="navbar-a" href="#" target="_self">Показы</a></li>
    <li class="navbar-li"><a class="navbar-a" href="#" target="_self">Звезды</a></li>
    <li class="navbar-li"><a class="navbar-a" href="#" target="_self">Культура</a></li>
    <li class="navbar-li"><a class="navbar-a" href="#" target="_self">События</a></li>
    <li class="navbar-li"><a class="navbar-a" href="#" target="_self">Гороскоп</a></li>
    <li class="navbar-li"><a class="navbar-a" href="#" target="_self">Блог</a></li>
    <li style="padding-left: 170px;" class="navbar-li"><a class="navbar-a" href="https://vk.com/mvivenet"><i class="fa fa-vk"></i></a></li>
    <li class="navbar-li"><a class="navbar-a" href="https://www.facebook.com/mvivenet"><i class="fa fa-facebook"></i></a></li>
    <li class="navbar-li"><a class="navbar-a" href="https://www.instagram.com/mvivenet/"><i class="fa fa-instagram"></i></a></li>
  </ul>
</div>