<div class="header-nav">
  <ul class="navbar-ul">
    <%= link_to '<li class="navbar-li"><p class="navbar-p">Все новости</p></li>'.html_safe, news_index_path, target: "_self" %>
    <%= link_to '<li class="navbar-li"><p class="navbar-p">Показы</p></li>'.html_safe, fashionshow_index_path, target: "_self" %>
    <li class="navbar-li"><p class="navbar-p" href="#" target="_self">Звезды</p></li>
    <li class="navbar-li"><p class="navbar-p" href="#" target="_self">События</p></li>
    <%= link_to '<li class="navbar-li"><p class="navbar-p">Shopping & MakeUp</p></li>'.html_safe, shoppingandmakeup_index_path, target: "_self" %>
    <li class="navbar-li"><p class="navbar-p" href="#" target="_self">Блог</p></li>
    <li style="padding-left: 170px;" class="navbar-li"><p class="navbar-p" href="https://vk.com/mvivenet"><i class="fa fa-vk"></i></p></li>
    <li class="navbar-li"><p class="navbar-p" href="https://www.facebook.com/mvivenet"><i class="fa fa-facebook"></i></p></li>
    <li class="navbar-li"><p class="navbar-p" href="https://www.instagram.com/mvivenet/"><i class="fa fa-instagram"></i></p></li>
  </ul>
</div>