<div class="home-featured">
  <div class="news-block-up-lvl">
    <h2 style="padding-bottom: 25px; padding-top: 75px;">Ukrainian International Fashion FEST</h2>
    <a href="http://mvive.net/event/ukrainian-international-fashion-fest" target="_self">
      <img class="sm-img-news" src="https://s3.amazonaws.com/mvive-news-images/images-event/uiff-1.jpg" alt="Ukrainian International Fashion FEST" height="600">
    </a>
    <h2 style="padding-bottom: 25px; padding-top: 50px;">Lviv Fashion Week: новый сезон SS 2017</h2>
      <a href="http://www.mvive.net/news/lviv-fashion-week-ss-2017-pokaz-wanted-by-vozianov" target="_self">
        <img class="sm-img-news" src="https://s3.amazonaws.com/mvive-news-images/images-news/lfw-vozianov-1.jpg" alt="Vozianov">
      </a>
    <div class="sm-img-news-f">
      <div class="sm-news-1">
        <a href="http://www.mvive.net/news/lviv-fashion-week-ss-2017-pokaz-sofitie" target="_self">
          <img src="https://s3.amazonaws.com/mvive-news-images/images-news/lfw-sofitie-2.jpg" class="sm-news-img-1" alt="sofitie">
          <p class="sm-news-img-p">LFW SS 2017: показ от Sofitie (Franklin)</p>
        </a>
      </div>
      <div class="sm-news-2">
        <a href="http://www.mvive.net/news/lviv-fashion-week-ss-2017-pokaz-oksana-mukha-by-kateryna-yalova" target="_self">
          <img src="https://s3.amazonaws.com/mvive-news-images/images-news/lfw-om-2.jpg" class="sm-news-img-2" alt="oksana mukha by kateryna yalova">
          <p class="sm-news-img-p">LFW SS 2017: Oksana Mukha by Kateryna Yalova</p>
        </a>
      </div>
      <div class="sm-news-3">
        <a href="http://www.mvive.net/news/lviv-fashion-week-ss-2017-pokaz-slastion" target="_self">
          <img src="https://s3.amazonaws.com/mvive-news-images/images-news/lfw-slastion-2.jpg" class="sm-news-img-3"alt="slastion">
          <p class="sm-news-img-p">LFW SS 2017: показ Сюзанна Slastion</p>
        </a>
      </div>
    </div>
  </div>

  <div class="news-block-midl-lvl">
    <h2 style="padding-bottom: 25px; padding-top: 75px;">Показ Lesia Semi Pre-Fall 2017</h2>
    <a href="http://mvive.net/news/lesia-semi-pre-fall-2017" target="_self">
      <img class="sm-img-news" src="https://s3.amazonaws.com/mvive-news-images/images-news/semi-pre-fall-2017-1.jpg" alt="Показ Lesia Semi Pre-Fall 2017">
    </a>

    <h2 style="padding-top: 30px">Популярные новости моды</h2>

    <div class="sm-img-news-midl-f">
      <div class="sm-news-1">
        <a href="http://mvive.net/news/gigi_hadid_sensacionnoe_priznanie_v_adres_svoei_sestry" target="_self">
          <img src="https://s3.amazonaws.com/mvive-news-images/images-news/21-noya-2.jpg" class="sm-news-img-midl-1" alt="Джиджи Хадид: сенсационное признание в адрес своей сестры">
          <p class="sm-news-img-p">Джиджи Хадид: признание в адрес сестры</p>
        </a>
      </div>
      <div class="sm-news-2">
        <a href="http://mvive.net/news/52" target="_self">
          <img src="https://s3.amazonaws.com/mvive-news-images/images-news/25-okt-3.jpg" class="sm-news-img-midl-2" alt="Тренд сезона: плиссированная юбка">
          <p class="sm-news-img-p">Тренд сезона: плиссированная юбка</p>
        </a>
      </div>
      <div class="sm-news-3">
        <a href="http://mvive.net/news/37" target="_self">
          <img src="https://s3.amazonaws.com/mvive-news-images/images-news/27-ver-3.jpeg" class="sm-news-img-midl-3"alt="Новая коллекция Dolce & Gabbana: весна-лето 2017">
          <p class="sm-news-img-p">Новая коллекция Dolce & Gabbana: весна-лето 2017</p>
        </a>
      </div>
      <h2 style="padding-bottom: 20px; padding-top: 30px;">Ukrainian Fashion Week AW 2017-2018</h2>
      <a href="http://mvive.net/event/ukrainian-fashion-week-aw-2017-2018" target="_self">
        <img class="sm-img-news" src="https://s3.amazonaws.com/mvive-news-images/images-event/ufw-aw17-1.jpg" alt="Ukrainian Fashion Week AW 2017-2018">
      </a>
    </div>
  </div>

  <div class="news-block-low-lvl">
    <h2 style="padding-bottom: 20px; padding-top: 30px;">Ukrainian Fashion Week: нова рекламна кампанія</h2>
    <a href="http://mvive.net/news/ukrainian-fashion-week-nova-reklamna-kampanija" target="_self">
      <img class="sm-img-news" src="https://s3.amazonaws.com/mvive-news-images/images-news/ufw-new-camp-1.jpg" alt="Ukrainian Fashion Week: нова рекламна кампанія">
    </a>
    <h2 style="padding-top: 25px;">Показы моды 2016</h2>
    <div class="sm-img-news-f">
      <div class="sm-news-1">
        <a href="http://mvive.net/news/26" target="_self">
          <img src="https://s3.amazonaws.com/mvive-news-images/images-news/8-ver-1.jpeg" class="sm-news-img-1" alt="Весна-лето 2017: коллекция Ksenia Schnaider">
          <p class="sm-news-img-p">Весна-лето 2017: коллекция Ksenia Schnaider</p>
          <p style="color: #444444;">Украинский дизайнер Ксения Шнайдер продолжает пропагандировать культ простой и понятной одежды.</p>
        </a>
      </div>
      <div class="sm-news-2">
        <a href="http://mvive.net/news/29" target="_self">
          <img src="https://s3.amazonaws.com/mvive-news-images/images-news/11-ver-1.jpg" class="sm-news-img-2" alt="Alexander Wang: Нью-Йоркская неделя моды, весна-лето 2017">
          <p class="sm-news-img-p">Alexander Wang: Нью-Йоркская неделя моды, весна-лето 2017</p>
          <p style="color: #444444;">Этим летом одной из главных сплетен мира моды было партнерство Alexander Wang и Adidas.</p>
        </a>
      </div>
      <div class="sm-news-3">
        <a href="http://mvive.net/news/10" target="_self">
          <img src="https://s3.amazonaws.com/mvive-news-images/images-news/21-2-1.jpg" class="sm-news-img-3"alt="Модный тренд осени 2016: леопардовый принт">
          <p class="sm-news-img-p">Модный тренд осени 2016: леопардовый принт</p>
          <p style="color: #444444;">Несмотря на то, что это достаточно смелый принт, он сочетается со многими вещами и вполне может стать базовой частью гардероба.</p>
        </a>
      </div>
    </div>
  </div>

  </div>