<div class="home-featured">
<div id="filter-container" class="cf">
  <h2 style="padding: 10px 0 25px 0">Популярные новости моды</h2>
  <div class="pop-news">
    <figure class="web1">
      <a href="http://mvive.net/news/23" class="thumb" target="_self"><img src="https://s3.amazonaws.com/mvive-news-images/images-news/4-ver-3.jpeg" alt="alt" /></a>
      <figcaption>
        <a href="http://mvive.net/news/23" target="_self"><h3 class="heading">Samsung Galaxy S7 - мода на розовое золото</h3></a>
      </figcaption>
    </figure>

    <figure class="web2">
      <a href="http://mvive.net/news/3" class="thumb" target="_self"><img src="https://s3.amazonaws.com/mvive-news-images/images-news/17-2.jpeg" alt="alt" /></a>
      <figcaption>
        <a href="http://mvive.net/news/3" target="_self"><h3 class="heading">Платье, о котором мечтают все девушки</h3></a>
      </figcaption>
    </figure>


    <figure class="web3">
      <a href="http://mvive.net/news/8" class="thumb" target="_self"><img src="https://s3.amazonaws.com/mvive-news-images/images-news/20-2.jpg" alt="alt" /></a>
      <figcaption>
        <a href="http://mvive.net/news/8" target="_self"><h3 class="heading">Канье Уэст представит коллекцию Yeezy</h3></a>
      </figcaption>
    </figure>
  </div>
  </div>

  <figure>
    <h2 style="padding-bottom: 25px;">Новый кампейн Ukrainian Fashion Week</h2>
    <a href="http://mvive.net/news/21" class="thumb" target="_self">
      <img class="big-img-news" src="https://s3.amazonaws.com/mvive-news-images/images-news/UFW_image6.jpg">
    </a>
  </figure>

  <div id="filter-container" class="cf">
  <h2 style="padding-top: 25px;">Показы моды 2016</h2>
  <div class="shows-news">
    <figure class="web4">
      <a href="http://mvive.net/news/26" class="thumb" target="_self"><img src="https://s3.amazonaws.com/mvive-news-images/images-news/8-ver-1.jpeg" alt="Весна-лето 2017: коллекция Ksenia Schnaider" /></a>
      <figcaption>
        <a href="http://mvive.net/news/26" target="_self"><h3 class="heading">Весна-лето 2017: коллекция Ksenia Schnaider</h3></a>
        Украинский дизайнер Ксения Шнайдер продолжает пропагандировать культ простой и понятной одежды.</figcaption>
    </figure>

    <figure class="web5">
      <a href="http://mvive.net/news/29" class="thumb" target="_self"><img src="https://s3.amazonaws.com/mvive-news-images/images-news/11-ver-1.jpg" alt="Alexander Wang: Нью-Йоркская неделя моды, весна-лето 2017" /></a>
      <figcaption>
        <a href="http://mvive.net/news/29" ><h3 class="heading" target="_self">Alexander Wang: Нью-Йоркская неделя моды, весна-лето 2017</h3></a>
        Этим летом одной из главных сплетен мира моды было партнерство Alexander Wang и Adidas.</figcaption>
    </figure>

    <figure class="web6">
      <a href="http://mvive.net/news/10" class="thumb" target="_self"><img src="https://s3.amazonaws.com/mvive-news-images/images-news/21-2-1.jpg" alt="Модный тренд осени 2016: леопардовый принт" /></a>
      <figcaption>
        <a href="http://mvive.net/news/10" ><h3 class="heading" target="_self">Модный тренд осени 2016: леопардовый принт</h3></a>
        Несмотря на то, что это достаточно смелый принт, он сочетается со многими вещами и вполне может стать базовой частью гардероба.</figcaption>
    </figure>
    </div>
  </div>
</div>