

<ul class="menu cf">
  <li><%= link_to 'Все новости'.html_safe, news_index_path %></li>
  <li><%= link_to 'Тенденции'.html_safe, news_trends_path %></li>
  <li><%= link_to 'Показы мод'.html_safe, news_fashionshows_path %></li>
  <li><%= link_to 'Искусство и стиль жизни'.html_safe, news_arts_and_lifestyle_path %></li>
</ul>