<div class="home-featured">
  <div class="news-block-up-lvl">
    <div id='admixer_5b401e911eb24f49b9081562326337d5_zone_14306_sect_4206_site_3736'></div> <script type='text/javascript'> admixerML.fn.push(function() { admixerML.display('admixer_5b401e911eb24f49b9081562326337d5_zone_14306_sect_4206_site_3736'); }); </script>
    <div class="pgwSlider-div">
    <ul class="pgwSlider">
      <li>
        <a href="http://mvive.net/news/mercedes-benz-kiev-fashion-days-pokaz-navro" target="_blank">
        <img src="https://s3.amazonaws.com/mvive-news-images/images-news/mbfd-navro-1.jpg" alt="NAVRO Design" data-description="Mercedes-Benz Kiev Fashion Days: показ NAVRO">
          <span style="color: #FFFFFF">NAVRO Design</span>
        </a>
      </li>
      <li>
        <a href="http://mvive.net/news/mercedes-benz-kiev-fashion-days-pokaz-alonova" target="_blank">
        <img src="https://s3.amazonaws.com/mvive-news-images/images-news/mbfd-alonova-1.jpg" alt="ALONOVA Design" data-description="Mercedes-Benz Kiev Fashion Days: показ ALONOVA" data-large-src="https://s3.amazonaws.com/mvive-news-images/images-news/mbfd-alonova-1.jpg">
          <span style="color: #FFFFFF">ALONOVA Design</span>
        </a>
      </li>
      <li>
        <a href="http://mvive.net/news/backstage-zyomku-obkladunku-gyrnaly-julia-models-kids" target="_blank">
        <img src="https://s3.amazonaws.com/mvive-news-images/images-news/28-yanva-1.jpg" alt="Dжулія Models Kids" data-description="Backstage зйомки обкладинки журналу Dжулiя Models Kids">
        <span style="color: #FFFFFF">Dжулiя Models Kids</span>
        </a>
      </li>
      <li>
        <a href="http://mvive.net/news/pokaz-chanel-hot-couture-ss-2017" target="_blank">
          <img src="https://s3.amazonaws.com/mvive-news-images/images-news/30-yanva-1.jpg" alt="Chanel" data-description="Показ Chanel Hot Couture SS 2017">
          <span style="color: #FFFFFF">Chanel</span>
        </a>
      </li>
    </ul>
    </div>
    <h2 class="up-lvl-main-h2">Lviv Fashion Week: новий сезон SS 2017</h2>
      <a href="http://mvive.net/news/lviv-fashion-week-ss-2017-pokaz-wanted-by-vozianov" target="_self">
        <img class="sm-img-news" src="https://s3.amazonaws.com/mvive-news-images/images-news/lfw-vozianov-1.jpg" alt="Vozianov">
      </a>
    <div class="sm-img-news-f">
      <div class="sm-news-1">
        <a href="http://mvive.net/news/lviv-fashion-week-ss-2017-pokaz-sofitie" target="_self">
          <img src="https://s3.amazonaws.com/mvive-news-images/images-news/lfw-sofitie-2.jpg" class="sm-news-img-1" alt="sofitie">
          <p class="sm-news-img-p">LFW SS 2017: показ Sofitie (Franklin)</p>
        </a>
      </div>
      <div class="sm-news-2">
        <a href="http://mvive.net/news/lviv-fashion-week-ss-2017-pokaz-oksana-mukha-by-kateryna-yalova" target="_self">
          <img src="https://s3.amazonaws.com/mvive-news-images/images-news/lfw-om-2.jpg" class="sm-news-img-2" alt="oksana mukha by kateryna yalova">
          <p class="sm-news-img-p">LFW SS 2017: Oksana Mukha by Kateryna Yalova</p>
        </a>
      </div>
      <div class="sm-news-3">
        <a href="http://mvive.net/news/lviv-fashion-week-ss-2017-pokaz-slastion" target="_self">
          <img src="https://s3.amazonaws.com/mvive-news-images/images-news/lfw-slastion-2.jpg" class="sm-news-img-3"alt="slastion">
          <p class="sm-news-img-p">LFW SS 2017: показ Сюзанна Slastion</p>
        </a>
      </div>
    </div>
  </div>

  <div class="news-block-midl-lvl">
    <a class="h2-a-main-news" href="http://mvive.net/news/lesia-semi-pre-fall-2017"><h2 style="padding-bottom: 25px; padding-top: 75px;">Показ Lesia Semi Pre-Fall 2017</h2></a>
    <a href="http://mvive.net/news/lesia-semi-pre-fall-2017" target="_self">
      <img class="sm-img-news" src="https://s3.amazonaws.com/mvive-news-images/images-news/semi-pre-fall-2017-1.jpg" alt="Показ Lesia Semi Pre-Fall 2017">
    </a>

    <a class="h2-a-main-news" href="http://mvive.net/mvive_tv/preview-mvive-fashion-tv"><h2 style="padding-bottom: 20px; padding-top: 30px;">Превью каналу про моду - M'Vive Fashion Channel</h2></a>
    <a href="http://mvive.net/mvive_tv/preview-mvive-fashion-tv" target="_self">
      <img class="sm-img-news" src="https://s3.amazonaws.com/mvive-news-images/images-mvivetv/mv-fashion-channel.jpg" alt="Превью канала о моде - M'Vive Fashion Channel">
    </a>

    <h2 style="padding-top: 30px">Популярні новини</h2>
    <div class="sm-img-news-midl-f">
      <div class="sm-news-1">
        <a href="http://mvive.net/news/ivanka-tramp-inavguraciinuy-garderob" target="_self">
          <img src="https://s3.amazonaws.com/mvive-news-images/images-news/24-yanva-2.jpeg" class="sm-news-img-midl-1" alt="Іванка Трамп: інавгураційний гардероб">
          <p class="sm-news-img-p">Іванка Трамп: інавгураційний гардероб</p>
        </a>
      </div>
      <div class="sm-news-2">
        <a href="http://mvive.net/news/anna_october_resort_2017_leto_blizko" target="_self">
          <img src="https://s3.amazonaws.com/mvive-news-images/images-news/27-noya-4.jpeg" class="sm-news-img-midl-2" alt="Anna October Resort 2017: лето близко">
          <p class="sm-news-img-p">Anna October Resort 2017: літо близько</p>
        </a>
      </div>
      <div class="sm-news-3">
        <a href="http://mvive.net/news/vozianov-x-rito-nova-kapsuljna-kolekciya" target="_self">
          <img src="https://s3.amazonaws.com/mvive-news-images/images-news/25-yanva-33.jpg" class="sm-news-img-midl-3"alt="Vozianov x RITO">
          <p class="sm-news-img-p">Vozianov x RITO: нова капсульна колекція</p>
        </a>
      </div>
      <a class="h2-a-main-news" href="http://mvive.net/event/ethno-by-kateryna-karol"><h2 style="padding-bottom: 20px; padding-top: 30px;">ETHNO by Kateryna Karol</h2></a>
      <a href="http://mvive.net/event/ethno-by-kateryna-karol" target="_self">
        <img class="sm-img-news" src="https://s3.amazonaws.com/mvive-news-images/images-event/karol-rw-1.jpg" alt="Показ ETHNO by Kateryna Karol">
      </a>
    </div>
  </div>

  <div class="news-block-low-lvl">
    <a class="h2-a-main-news" href="http://mvive.net/news/pres-konferenciya-anons-ukrainian-fashion-week-fw-2017-18"><h2 style="padding-bottom: 20px; padding-top: 120px;">Прес-конференція і анонс Ukrainian Fashion Week FW 2017/18</h2></a>
    <a href="http://mvive.net/news/pres-konferenciya-anons-ukrainian-fashion-week-fw-2017-18" target="_self">
      <img class="sm-img-news" src="https://s3.amazonaws.com/mvive-news-images/images-news/25-yanva-4.jpg" alt="Ukrainian Fashion Week FW 2017/18">
    </a>
    <h2 style="padding-top: 25px;">Покази моди</h2>
    <div class="sm-img-news-f">
      <div class="sm-news-1">
        <a href="http://mvive.net/news/lviv-fashion-week-ss-2017-pokaz-kristina-as" target="_self">
          <img src="https://s3.amazonaws.com/mvive-news-images/images-news/lfw-kas-4.jpg" class="sm-news-img-1" alt="Kristina_As: LFW SS 2017">
          <p class="sm-news-img-p">Kristina_As: LFW SS 2017</p>
          <p style="color: #444444;">Колекція дизайнера Kristina As - єднання геометричних ліній і строгості крою на Lviv FW 2017</p>
        </a>
      </div>
      <div class="sm-news-2">
        <a href="http://mvive.net/news/lesia-semi-pre-fall-2017" target="_self">
          <img src="https://s3.amazonaws.com/mvive-news-images/images-news/semi-pre-fall-2017-3.jpg" class="sm-news-img-2" alt="Lesia Semi Pre-Fall 2017 Runway">
          <p class="sm-news-img-p">Lesia Semi Pre-Fall 2017</p>
          <p style="color: #444444;">11 грудня в Leopolis Hotel відбулася презентація колекції Lesia Semi Pre-Fall 2017.</p>
        </a>
      </div>
      <div class="sm-news-3">
        <a href="http://mvive.net/news/versace-pre-fall2017-collection" target="_self">
          <img src="https://s3.amazonaws.com/mvive-news-images/images-news/16-dekabrya-2.jpg" class="sm-news-img-3"alt="Versace: Pre-Fall 2017 Collection Runway">
          <p class="sm-news-img-p">Versace: Pre-Fall 2017 Collection</p>
          <p style="color: #444444;">Versace представили нову колекцію на Pre-Fall 2017.</p>
        </a>
      </div>
    </div>
  </div>

  </div>