<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-8">
    <div class="slick_slider">
      <div class="single_iteam"> <a href="http://mvive.net/mvive_tv/lviv-fashion-week-aw17-day2-lesia-semi-balossa-bob-basset"><img src="https://s3.amazonaws.com/mvive-news-images/images-mvivetv/Wimeo_cower_2.jpg" alt="Lviv Fashion Week AW17 Day 2: Lesia Semi, Balossa/Bob Basset"></a>
        <div class="slider_article">
          <h2><a class="slider_tittle" href="http://mvive.net/mvive_tv/lviv-fashion-week-aw17-day2-lesia-semi-balossa-bob-basset">Lviv Fashion Week AW17 Day 2: Lesia Semi, Balossa/Bob Basset</a></h2>
        </div>
      </div>
      <div class="single_iteam"> <a href="http://mvive.net/mvive_tv/videoreportag-lviv-fashion-week-aw17-kateryna-karol"> <img src="https://s3.amazonaws.com/mvive-news-images/images-mvivetv/lwfaw17-f-tv.jpg" alt="Відеорепортаж Lviv Fashion Week AW17: Kateryna Karol"></a>
        <div class="slider_article">
          <h2><a class="slider_tittle" href="http://mvive.net/mvive_tv/videoreportag-lviv-fashion-week-aw17-kateryna-karol">Lviv Fashion Week AW17: Kateryna Karol</a></h2>
          <p>Відеорепортаж з показу нової колекції Катерини Кароль, який пройшов в рамках Lviv Fashion Week AW17 у Львівярні.</p>
        </div>
      </div>
      <div class="single_iteam"> <a href="http://mvive.net/news/miss-lviv-2017-kastyng"><img src="https://s3.amazonaws.com/mvive-news-images/images-news/misslviv-cast-8.jpg" alt="Міс Львів 2017"></a>
        <div class="slider_article">
          <h2><a class="slider_tittle" href="http://mvive.net/news/miss-lviv-2017-kastyng">Міс Львів 2017: Кастинг</a></h2>
          <p>30 березня 2017 року відбувся кастинг конкурсу краси “Міс Львів 2017” . За право отримати головну корону міста та право володіти титулом найкрасивішої львів”янки року прийшли позмагатись не тільки красиві...</p>
        </div>
      </div>
      <div class="single_iteam"> <a href="http://mvive.net/news/pokaz-chanel-hot-couture-ss-2017"><img src="https://s3.amazonaws.com/mvive-news-images/images-news/30-yanva-1.jpg" alt="Chanel Hot Couture SS 2017"></a>
        <div class="slider_article">
          <h2><a class="slider_tittle" href="http://mvive.net/news/pokaz-chanel-hot-couture-ss-2017">Показ Chanel Haute Couture SS 2017</a></h2>
          <p>В холі дзеркального амфітеатру Grand Palais пройшов показ весняно-літньої колекції Chanel Haute Couture SS 2017. Карл Лагерфельд вийшов на подіум і супроводжував Лілі Роуз-Депп.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="latest_post">
      <h2><span>Останні оновлення</span></h2>
      <div class="latest_post_container">

        <ul class="latest_postnav">
          <li>
            <% @news.each do |news| %>
            <div class="media"> <a href="<%= news_path(news) %>" class="media-left"><img src="<%= news.image %>"></a>
              <div class="media-body"> <a href="<%= news_path(news) %>" class="catg_title"><%= news.name %></a> </div>
            </div>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>