<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-8">
    <div class="slick_slider">
      <div class="single_iteam"> <a href="http://mvive.net/news/mercedes-benz-kiev-fashion-days-pokaz-navro"> <img src="https://s3.amazonaws.com/mvive-news-images/images-news/mbfd-navro-1.jpg" alt="NAVRO Design"></a>
        <div class="slider_article">
          <h2><a class="slider_tittle" href="http://mvive.net/news/mercedes-benz-kiev-fashion-days-pokaz-navro">NAVRO Design</a></h2>
          <p>Союз чорного, золотого та кармінного дозволяє автору створювати невимушені переходи в стилі.</p>
        </div>
      </div>
      <div class="single_iteam"> <a href="http://mvive.net/event/lviv-wedding-festival-2017"><img src="https://s3.amazonaws.com/mvive-news-images/images-event/LWF/ROS_1647.jpg" alt="Lviv Wedding Festival 2017"></a>
        <div class="slider_article">
          <h2><a class="slider_tittle" href="http://mvive.net/event/lviv-wedding-festival-2017">Lviv Wedding Festival 2017</a></h2>
          <p>На початку місяця (4-5 березня), пройшла щорічна виставка, присвячена найромантичнішої тематиці - організація і проведення весіль.</p>
        </div>
      </div>
      <div class="single_iteam"> <a href="http://www.lvivfashionweek.com/news/lviv-fashion-week-novyi-sezon-aw-2017-vidbudetsya-23-26-bereznya"><img src="https://s3.amazonaws.com/mvive-news-images/images-news/press.jpg" alt="Lviv Fashion Week: новий сезон AW 2017"></a>
        <div class="slider_article">
          <h2><a class="slider_tittle" href="http://www.lvivfashionweek.com/news/lviv-fashion-week-novyi-sezon-aw-2017-vidbudetsya-23-26-bereznya">Lviv Fashion Week: новий сезон AW 2017</a></h2>
          <p>Цього сезону покази основного розкладу охоплять 4 дні, а основну платформу Міжнародного аеропорта “Львів” імені Данила Галицького буде задіяно впродовж трьох днів.</p>
        </div>
      </div>
      <div class="single_iteam"> <a href="http://mvive.net/news/pokaz-chanel-hot-couture-ss-2017"><img src="https://s3.amazonaws.com/mvive-news-images/images-news/30-yanva-1.jpg" alt="Chanel Hot Couture SS 2017"></a>
        <div class="slider_article">
          <h2><a class="slider_tittle" href="http://mvive.net/news/pokaz-chanel-hot-couture-ss-2017">Показ Chanel Haute Couture SS 2017</a></h2>
          <p>В холі дзеркального амфітеатру Grand Palais пройшов показ весняно-літньої колекції Chanel Haute Couture SS 2017. Карл Лагерфельд вийшов на подіум і супроводжував Лілі Роуз-Депп.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="latest_post">
      <h2><span>Останні оновлення</span></h2>
      <div class="latest_post_container">

        <ul class="latest_postnav">
          <li>
            <% @news.each do |news| %>
            <div class="media"> <a href="<%= news_path(news) %>" class="media-left"><img src="<%= news.image %>"></a>
              <div class="media-body"> <a href="<%= news_path(news) %>" class="catg_title"><%= news.name %></a> </div>
            </div>
            <% end %>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>