<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-8">
    <div class="slick_slider">
      <div class="single_iteam"> <a href="http://mvive.net/peopleandparty/kavalier-beach-club-art-season-2017-vidkritya-sezony"><img src="https://s3.amazonaws.com/mvive-news-images/images-people-and-party/kavalier-bp-1.jpg" alt="Kavalier Вeach Сlub Art season 2017: відкриття сезону"></a>
        <div class="slider_article">
          <h2><a class="slider_tittle" href="http://mvive.net/peopleandparty/kavalier-beach-club-art-season-2017-vidkritya-sezony">Kavalier Вeach Сlub Art season 2017: відкриття сезону</a></h2>
          <p>Понад 1000 гостів Львова та столиці, покази українських дизайнерів і виступи Jean Gritsfeldt, Alekseev та Даша Астафьева.</p>
        </div>
      </div>
      <div class="single_iteam"> <a href="http://mvive.net/mvive_tv/videoreportag-lviv-fashion-week-aw17-kateryna-karol"> <img src="https://s3.amazonaws.com/mvive-news-images/images-mvivetv/lwfaw17-f-tv.jpg" alt="Відеорепортаж Lviv Fashion Week AW17: Kateryna Karol"></a>
        <div class="slider_article">
          <h2><a class="slider_tittle" href="http://mvive.net/mvive_tv/videoreportag-lviv-fashion-week-aw17-kateryna-karol">Lviv Fashion Week AW17: Kateryna Karol</a></h2>
          <p>Відеорепортаж з показу нової колекції Катерини Кароль, який пройшов в рамках Lviv Fashion Week AW17 у Львівярні.</p>
        </div>
      </div>
      <div class="single_iteam"> <a href="http://mvive.net/news/miss-lviv-2017-kastyng"><img src="https://s3.amazonaws.com/mvive-news-images/images-news/misslviv-cast-8.jpg" alt="Міс Львів 2017"></a>
        <div class="slider_article">
          <h2><a class="slider_tittle" href="http://mvive.net/news/miss-lviv-2017-kastyng">Міс Львів 2017: Кастинг</a></h2>
          <p>30 березня 2017 року відбувся кастинг конкурсу краси “Міс Львів 2017” . За право отримати головну корону міста та право володіти титулом найкрасивішої львів”янки року прийшли позмагатись не тільки красиві...</p>
        </div>
      </div>
      <div class="single_iteam"> <a href="http://mvive.net/peopleandparty/dilovyi-forum-2017-citadel-inn-afterparty"><img src="https://s3.amazonaws.com/mvive-news-images/images-people-and-party/dil-forum-1.jpg" alt="Діловий Форум 2017: Citadel Inn Afterparty"></a>
        <div class="slider_article">
          <h2><a class="slider_tittle" href="http://mvive.net/peopleandparty/dilovyi-forum-2017-citadel-inn-afterparty">Діловий Форум 2017: Citadel Inn Afterparty</a></h2>
          <p>Як відпочивали багаті та успішні бізнесмени після Ділового форуму на Afterparty у Готелі Citadel Inn</p>
        </div>
      </div>
      <div class="single_iteam"> <a href="http://mvive.net/mvive_tv/lviv-fashion-week-aw17-day2-lesia-semi-balossa-bob-basset"><img src="https://s3.amazonaws.com/mvive-news-images/images-mvivetv/Wimeo_cower_2.jpg" alt="Lviv Fashion Week AW17 Day 2: Lesia Semi, Balossa/Bob Basset"></a>
        <div class="slider_article">
          <h2><a class="slider_tittle" href="http://mvive.net/mvive_tv/lviv-fashion-week-aw17-day2-lesia-semi-balossa-bob-basset">Lviv Fashion Week AW17 Day 2: Lesia Semi, Balossa/Bob Basset</a></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="latest_post">
      <h2><span>Останні оновлення</span></h2>
      <div class="latest_post_container">

        <ul class="latest_postnav">
          <li>
            <% @news.each do |news| %>
            <div class="media"> <a href="<%= news_path(news) %>" class="media-left"><img src="<%= news.image %>"></a>
              <div class="media-body"> <a href="<%= news_path(news) %>" class="catg_title"><%= news.name %></a> </div>
            </div>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>