<%= render 'shared/menu' %>
<div class="global-scope">
  <div class="settings-scope" style="padding-top: 0;">
    <%= render "shared/news_slider_navbar" %>
    <h2 style="padding-top: 20px;">Искусство и стиль жизни</h2>
  </div>
</div>
<%= render 'shared/footer' %>