<%= render "shared/menu" %>
<div class="global-scope">
  <div class="settings-scope no-padding-top">
    <div class="single-news-photo parallax-window" data-parallax="scroll" data-image-src="<%= @news.image %>">
      <div class="single-news-main-text">
        <h1><%= @news.name %></h1>
      </div>
    </div>

    <p class="single-news-content"><%= @news.body %></p>

    <div class="google-ads-news-single">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- mv-news-single -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:728px;height:90px"
           data-ad-client="ca-pub-3562964519569523"
           data-ad-slot="8740594493"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>

    <h3 class="social-call">Мы в социальных сетях</h3>
      <div class="social-footer">
        <ul>
          <li><a href="https://vk.com/mvive"><i class="fa fa-vk"></i></a></li>
          <li><a href="https://www.facebook.com/MVive-Fashion-612944168844010/?ref=aymt_homepage_panel"><i class="fa fa-facebook"></i></a></li>
        </ul>
      </div>

  </div>
</div>