
default: &default
  adapter: postgresql
  encoding: UTF-8
  pool: 5

development:
  <<: *default
  database: M-Vive_development
  username: vlad
  password: nfs26391022

test:
  <<: *default
  database: M-Vive_test
  username: vlad
  password: nfs26391022

production:
  <<: *default
  database: M-Vive_production
  username: deployer
  password: nfs26391022
