/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .info-row {
    margin-top: 60px;
  }

  .info-content p {
    margin-bottom: 0;
  }
}

@media only screen and (max-width : 800px) {

  .news-block-up-lvl {
    padding-top: 50px;
  }

  .news-block-midl-lvl {
    padding-top: 770px;
  }

  .news-block-low-lvl {
    padding-top: 1180px;
    padding-bottom: 850px;
  }

  .google-ads-news-main {
    display: none;
  }

  .sm-img-news {
    width: 570px;
  }

  .news-photo {
    width: 570px;
    height: 320px;
  }

  .news-content {
    width: 800px;
  }

  .news-content p {
    font-size: 13px;
  }

  .single-news-content {
    padding-left: 35px;
    padding-right: 35px;
  }

  .google-ads-news-single {
    display: none;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  .news-block-up-lvl {
    padding-top: 50px;
  }

  .news-block-midl-lvl {
    padding-top: 400px;
  }

  .news-block-low-lvl {
    padding-top: 620px;
    padding-bottom: 480px;
  }

  .google-ads-news-main {
    display: none;
  }

  .sm-img-news {
    width: 768px;
  }

  .news-photo {
    width: 768px;
    height: 430px;
  }

  .news-content {
    width: 768px;
  }

  .news-content p {
    font-size: 13px;
  }

  .block p {
    display: none;
  }

  .block i {
    display: block;
  }

  .block img {
    display: none;
  }

  .block .must-show-phone {
    display: block;
    text-align: center;
  }
  .block .must-show {
    display: none;
  }

  .fixed-vertical-menu {
    display: none;
  }

  .gloabal-scope {
    width: 100%;
  }

  .settings-scope {
    padding-left: 0;
  }

  .cover-menu-center div p{
    font-size : 10px;
  }

  .active-profile-menu-link {
    border-bottom-width: 5px;
  }

  .name-profile {
    font-size: 30px;
  }

  .profile-user-type,
  .profile-rank-block p,
  .profile-rank-block i,
  .profile-deals p,
  .profile-deals i {
    font-size: 16px;
  }

  .profile-sub-info p {
    font-size: 12px;
  }

  .profile-settings-icon {
    margin: 7px 0 0 20px;
  }
  /* news adapt changes */


  .news-container h1 span {
    font-size: 22px;
  }

  .news-date-block {
    width: 60px;
    height: 60px;
  }

  .news-date-day {
    font-size: 25px;
  }

  .news-date-month {
    font-size: 11px;
  }

  .google-ads-news-single {
    padding-left: 15px;
  }

  .footer {
    padding: 0;
  }

  .look-more-block {
    padding: 0;
    text-align: center;
  }

  .news-content-img {
    padding-left: 60px;
    width: 640px;
  }

  .nci-img {
    width: 640px;
  }

  .single-news-content {
    padding-left: 35px;
    padding-right: 35px;
  }


  .google-ads-news-main2 {
    padding: 0;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

  .news-block-up-lvl {
    padding-top: 100px;
  }

  .news-block-midl-lvl {
    padding-top: 770px;
  }

  .news-block-low-lvl {
    padding-top: 1180px;
    padding-bottom: 850px;
  }

  .google-ads-news-main {
    display: none;
  }

  .sm-img-news {
    width: 480px;
  }

  .news-photo {
    width: 480px;
    height: 270px;
  }

  .news-content {
    width: 480px;
  }

  .news-content p {
    font-size: 13px;
  }

  .single-news-content {
    padding-left: 25px;
    padding-right: 25px;
  }

  .news-content-img {
    width: 480px;
  }

  .nci-img {
    width: 480px;
  }
}

@media only screen and (max-width : 360px) {

  .news-block-up-lvl {
    padding-top: 100px;
  }

  .news-block-midl-lvl {
    padding-top: 770px;
  }

  .news-block-low-lvl {
    padding-top: 1180px;
    padding-bottom: 850px;
  }

  .google-ads-news-main {
    display: none;
  }

  .sm-img-news {
    width: 360px;
  }

  .news-photo {
    width: 360px;
    height: 200px;
  }

  .news-content {
    width: 360px;
  }

  .news-content p {
    font-size: 13px;
  }

  .look-more-block {
    width: 100%;
  }

  .lm-block-single {
    width: 360px;
  }

  .lm-block-img {
    width: 360px;
  }

  .single-news-content {
    padding-left: 25px;
    padding-right: 25px;
  }

  .google-ads-news-single {
    display: none;
  }

  .news-content-img {
    width: 360px;
    padding: 0;
  }

  .nci-img {
    width: 360px;
  }

  .single-news-main-text h1 {
    font-size: 30px;
    padding-top: 80px;
  }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

  /* news adapt changes */

  .news-block-up-lvl {
    padding-top: 140px;
  }

  .news-block-midl-lvl {
    padding-top: 770px;
  }

  .news-block-low-lvl {
    padding-top: 1180px;
    padding-bottom: 850px;
  }

  .google-ads-news-main {
    display: none;
  }



  .sm-img-news {
    width: 320px;
  }

  .news-photo {
    width: 320px;
    height: 180px;
  }

  .news-content {
    width: 320px;
  }

  .news-content p {
    font-size: 13px;
  }

  .news-container h1 span {
    font-size: 18px;
  }

  .single-news-main-text h1 {
    font-size: 27px;
    padding-top: 105px;
  }

  .news-date-block {
    width: 45px;
    height: 45px;
  }

  .news-date-day {
    font-size: 20px;
  }

  .news-date-month {
    font-size: 9px;
  }

  .single-news-content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .news-content-img {
    width: 320px;
  }

  .nci-img {
    width: 320px;
  }

  .fixed-vertical-menu {
    display: none;
  }

  .look-more-block {
    width: 100%;
  }

  .lm-block-single {
    width: 320px;
  }

  .lm-block-img {
    width: 320px;
  }

}