/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .info-row {
    margin-top: 60px;
  }

  .info-content p {
    margin-bottom: 0;
  }

  .news-block-low-lvl {
    padding-top: 1420px;
    padding-bottom: 480px;
  }

  .news-block-midl-lvl {
    padding-top: 780px;
  }

  .sm-img-news {
    width: 680px;
  }

  .google-ads-news-single {
    display: none;
  }

  .google-ads-news-main {
    display: none;
  }
}

@media only screen and (max-width: 980px) {
  .news-block-low-lvl {
    padding-top: 500px;
    padding-bottom: 100px;
  }

  .news-block-midl-lvl {
    padding-top: 0;
  }

  .sm-img-news {
    width: 680px;
  }

  .google-ads-news-single {
    display: none;
  }

  .google-ads-news-main {
    display: none;
  }
}

@media only screen and (max-width : 800px) {

  .news-block-up-lvl {
    padding-top: 50px;
  }

  .news-block-midl-lvl {
    padding-top: 400px;
  }

  .news-block-low-lvl {
    padding-top: 1000px;
    padding-bottom: 530px;
  }

  .google-ads-news-main {
    display: none;
  }

  .sm-img-news {
    width: 570px;
  }

  .news-photo {
    width: 570px;
    height: 320px;
  }

  .news-content {
    width: 800px;
  }

  .news-content p {
    font-size: 13px;
  }

  .single-news-content {
    padding-left: 35px;
    padding-right: 35px;
  }

  .google-ads-news-single {
    display: none;
  }

  .up-logo-main {
    width: 100%;
  }

  .up-logo {
    width: 100%;
  }

  .up-lvl-main-h2 {
    padding-bottom: 25px;
    padding-top: 350px;
  }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

  .news-block-up-lvl {
    padding-top: 50px;
  }

  .news-block-midl-lvl {
    padding-top: 400px;
  }

  .news-block-low-lvl {
    padding-top: 1150px;
    padding-bottom: 480px;
  }

  .google-ads-news-main {
    display: none;
  }

  .sm-img-news {
    width: 768px;
  }

  .news-photo {
    width: 768px;
    height: 430px;
  }

  .news-content {
    width: 768px;
  }

  .news-content p {
    font-size: 13px;
  }

  .block p {
    display: none;
  }

  .block i {
    display: block;
  }

  .block img {
    display: none;
  }

  .block .must-show-phone {
    display: block;
    text-align: center;
  }
  .block .must-show {
    display: none;
  }

  .fixed-vertical-menu {
    display: none;
  }

  .gloabal-scope {
    width: 100%;
  }

  .settings-scope {
    padding-left: 0;
  }

  .cover-menu-center div p{
    font-size : 10px;
  }

  .active-profile-menu-link {
    border-bottom-width: 5px;
  }

  .name-profile {
    font-size: 30px;
  }

  .profile-user-type,
  .profile-rank-block p,
  .profile-rank-block i,
  .profile-deals p,
  .profile-deals i {
    font-size: 16px;
  }

  .profile-sub-info p {
    font-size: 12px;
  }

  .profile-settings-icon {
    margin: 7px 0 0 20px;
  }
  /* news adapt changes */


  .news-container h1 span {
    font-size: 22px;
  }

  .news-date-block {
    width: 60px;
    height: 60px;
  }

  .news-date-day {
    font-size: 25px;
  }

  .news-date-month {
    font-size: 11px;
  }

  .google-ads-news-single {
    padding-left: 15px;
  }

  .footer {
    padding: 0;
  }

  .look-more-block {
    padding: 0;
    text-align: center;
  }

  .news-content-img {
    padding-left: 60px;
    width: 640px;
  }

  .nci-img {
    width: 640px;
  }

  .single-news-content {
    padding-left: 35px;
    padding-right: 35px;
  }


  .google-ads-news-main2 {
    padding: 0;
  }

  .news-photo-shoppingandmakeup {
    width: 768px;
    height: 430px;
  }

  .news-photo-exclusive {
    width: 768px;
    height: 430px;
  }

  .news-photo-mvivetv {
    width: 768px;
    height: 430px;
  }

  .news-date-block-mvivetv {
    width: 230px;
    height: 130px;
  }

  .news-date-block-mvivetv p {
    font-size: 24px;
  }

  .mvivetv-h2 {
    padding-top: 120px;
  }

  .youtube-player {
    width: 100%;
  }

  .news-container-shoppingandmakeup {
    width: 768px;
    padding: 0;
  }

  .shoppingandmakeup-h2 {
    padding-top: 130px;
  }

  .news-date-block-shoppingandmakeup {
    width: 130px;
    height: 130px;
    padding-top: 5px;
  }

  .news-date-block-shoppingandmakeup p {
    font-size: 15px;
  }

  .news-date-block-events {
    width: 110px;
    height: 90px;
  }

  .news-date-day-events {
    font-size: 23px;
    padding-top: 13px;
  }

  .news-date-month-events {
    font-size: 12px;
  }

  .news-date-adress-events {
    font-size: 12px;
  }

  .events-h2 {
    padding-top: 120px;
  }

  .up-logo-main {
    width: 100%;
  }

  .up-logo {
    width: 100%;
  }

  .admixer-mobile {
    display: block;
  }

  .up-lvl-main-h2 {
    padding-bottom: 25px;
    padding-top: 350px;
  }

  .pgwSlider {
    width: 100%;
  }

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

  .navbar-p {
    font-size: 14px;
  }

  .navbar-li-social {
    display: none;
  }

  .news-block-up-lvl {
    padding-top: 50px;
  }

  .news-block-midl-lvl {
    padding-top: 770px;
  }

  .news-block-low-lvl {
    padding-top: 1600px;
    padding-bottom: 850px;
  }

  .google-ads-news-main {
    display: none;
  }

  .sm-img-news {
    width: 480px;
  }

  .news-photo {
    width: 480px;
    height: 270px;
  }

  .news-content {
    width: 480px;
  }

  .news-content p {
    font-size: 13px;
  }

  .single-news-content {
    padding-left: 25px;
    padding-right: 25px;
  }

  .news-content-img {
    width: 480px;
  }

  .nci-img {
    width: 480px;
  }

  .news-photo-shoppingandmakeup {
    width: 480px;
    height: 270px;
  }

  .news-photo-exclusive {
    width: 480px;
    height: 270px;
  }

  .news-photo-mvivetv {
    width: 480px;
    height: 270px;
  }

  .news-date-block-mvivetv {
    width: 160px;
    height: 160px;
  }

  .news-date-block-mvivetv p {
    font-size: 20px;
  }

  .mvivetv-h2 {
    padding-top: 120px;
  }

  .youtube-player {
    width: 480px;
  }

  .news-container-shoppingandmakeup {
    width: 480px;
    padding: 0;
  }

  .shoppingandmakeup-h2 {
    padding-top: 130px;
  }

  .news-date-block-shoppingandmakeup {
    width: 70px;
    height: 70px;
  }

  .news-date-block-shoppingandmakeup p {
    font-size: 9px;
  }

  .news-date-block-events {
    width: 110px;
    height: 90px;
  }

  .news-date-day-events {
    font-size: 23px;
    padding-top: 13px;
  }

  .news-date-month-events {
    font-size: 12px;
  }

  .news-date-adress-events {
    font-size: 12px;
  }

  .events-h2 {
    padding-top: 120px;
  }

  .single-partners-block {
    margin: 0;
    width: 480px;
  }

  .single-partners-logo {
    width: 480px;
  }

  .up-logo-main {
    width: 100%;
  }

  .up-logo {
    width: 100%;
  }

  .admixer-mobile {
    display: block;
  }

  .up-lvl-main-h2 {
    padding-bottom: 25px;
    padding-top: 80px;
  }

  .pgwSlider {
    display: none;
  }

}

@media only screen and (max-width : 420px) {

  .news-container {
    width: 420px;
  }

  .news-photo {
    width: 420px;
    height: 237px;
  }

  .news-content {
    width: 420px;
  }

  .news-content p {
    font-size: 13px;
  }

  .single-news-content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .news-block-low-lvl {
    padding-top: 1580px;
  }

  .news-content-img {
    width: 420px;
    padding-left: 0;
  }

  .nci-img {
    width: 420px;
  }

  .single-news-main-text h1 {
    font-size: 34px;
    padding-top: 100px;
  }

  .news-date-block-events {
    width: 110px;
    height: 90px;
  }

  .news-date-day-events {
    font-size: 23px;
    padding-top: 13px;
  }

  .news-date-month-events {
    font-size: 12px;
  }

  .news-date-adress-events {
    font-size: 12px;
  }

  .news-photo-shoppingandmakeup {
    width: 420px;
    height: 240px;
  }

  .news-photo-exclusive {
    width: 420px;
    height: 240px;
  }

  .news-photo-mvivetv {
    width: 420px;
    height: 230px;
  }

  .news-date-block-mvivetv {
    width: 100px;
    height: 100px;
  }

  .news-date-block-mvivetv p {
    font-size: 15px;
  }

  .mvivetv-h2 {
    padding-top: 120px;
  }

  .youtube-player {
    width: 420px;
  }

  .news-container-shoppingandmakeup {
    width: 420px;
    padding: 0;
  }

  .shoppingandmakeup-h2 {
    padding-top: 130px;
  }

  .news-date-block-shoppingandmakeup {
    width: 70px;
    height: 70px;
  }

  .news-date-block-shoppingandmakeup p {
    font-size: 9px;
  }

  .sm-img-news {
    width: 420px;
  }

  .events-h2 {
    padding-top: 120px;
  }

  .single-partners-block {
    margin: 0;
    width: 420px;
  }

  .single-partners-logo {
    width: 420px;
  }

  /* PROFILE */

  .name-profile {
    font-size: 25px;
  }

  .profile-user-info-block {
    top: 5px;
  }

  .profile-user-info {
    padding-left: 0;
  }

  .gallery {
    padding-left: 58px;
  }

  .up-logo-main {
    width: 100%;
  }

  .up-logo {
    width: 100%;
  }

  .admixer-mobile {
    display: block;
  }

  .up-lvl-main-h2 {
    padding-bottom: 25px;
    padding-top: 80px;
  }

  .pgwSlider {
    display: none;
  }

}

@media only screen and (max-width : 360px) {

  .news-block-up-lvl {
    padding-top: 50px;
  }

  .news-block-midl-lvl {
    padding-top: 770px;
  }

  .news-block-low-lvl {
    padding-top: 1550px;
    padding-bottom: 950px;
  }

  .google-ads-news-main {
    display: none;
  }

  .sm-img-news {
    width: 360px;
  }

  .events-h2 {
    padding-top: 120px;
  }

  .news-photo {
    width: 360px;
    height: 200px;
  }

  .news-content {
    width: 360px;
  }

  .news-container {
    width: 360px;
  }

  .news-content p {
    font-size: 13px;
  }

  .look-more-block {
    width: 100%;
  }

  .lm-block-single {
    width: 360px;
  }

  .lm-block-img {
    width: 360px;
  }

  .single-news-content {
    padding-left: 25px;
    padding-right: 25px;
  }

  .google-ads-news-single {
    display: none;
  }

  .news-content-img {
    width: 360px;
    padding: 0;
  }

  .nci-img {
    width: 360px;
  }

  .single-news-main-text h1 {
    font-size: 30px;
    padding-top: 80px;
  }

  .navbar-p {
    font-size: 14px;
  }

  .navbar-li-social {
    display: none;
  }

  .news-photo-shoppingandmakeup {
    width: 360px;
    height: 210px;
  }

  .news-photo-exclusive {
    width: 360px;
    height: 120px;
  }

  .news-date-day-exclusive {
    font-size: 13px;
    padding-top: 5px;
  }

  .news-date-month-exclusive {
    font-size: 9px;
  }

  .news-date-block-shoppingandmakeup {
    width: 80px;
    height: 80px;
  }

  .news-date-block-events {
    width: 55px;
    height: 55px;
  }

  .news-date-day-events {
    font-size: 13px;
    padding-top: 5px;
  }

  .news-date-month-events {
    font-size: 9px;
  }

  .news-date-adress-events {
    font-size: 9px;
  }

  .news-photo-mvivetv {
    width: 360px;
    height: 200px;
  }

  .news-date-block-mvivetv {
    width: 70px;
    height: 70px;
  }

  .news-date-block-mvivetv p {
    font-size: 9px;
  }

  .mvivetv-h2 {
    padding-top: 120px;
  }

  .youtube-player {
    width: 360px;
  }

  .news-container-shoppingandmakeup {
    width: 360px;
    padding: 0;
  }

  .shoppingandmakeup-h2 {
    padding-top: 130px;
  }

  .news-date-block-shoppingandmakeup {
    width: 70px;
    height: 70px;
  }

  .news-date-block-shoppingandmakeup p {
    font-size: 9px;
  }

  .single-partners-block {
    margin: 0;
    width: 360px;
  }

  .single-partners-logo {
    width: 360px;
  }

  /* PROFILE */

  .name-profile {
    font-size: 20px;
  }

  .profile-user-info-block {
    top: 12px;
  }

  .profile-user-info {
    padding-left: 0;
  }

  .gallery {
    padding-left: 30px;
  }

  .up-logo-main {
    width: 100%;
  }

  .up-logo {
    width: 100%;
  }

  .admixer-mobile {
    display: block;
  }

  .up-lvl-main-h2 {
    padding-bottom: 25px;
    padding-top: 70px;
  }

  .pgwSlider {
    display: none;
  }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

  /* news adapt changes */

  .news-block-up-lvl {
    padding-top: 50px;
  }

  .news-block-midl-lvl {
    padding-top: 770px;
  }

  .news-block-low-lvl {
    padding-top: 1530px;
    padding-bottom: 850px;
  }

  .news-container {
    width: 320px;
  }

  .google-ads-news-main {
    display: none;
  }

  .navbar-p {
    font-size: 12px;
  }

  .navbar-li-social {
    display: none;
  }

  .sm-img-news {
    width: 320px;
  }

  .news-photo {
    width: 320px;
    height: 180px;
  }

  .news-content {
    width: 320px;
  }

  .news-content p {
    font-size: 13px;
  }

  .news-container h1 span {
    font-size: 18px;
  }

  .single-news-main-text h1 {
    font-size: 27px;
    padding-top: 105px;
  }

  .news-date-block {
    width: 45px;
    height: 45px;
  }

  .news-date-day {
    font-size: 20px;
  }

  .news-date-month {
    font-size: 9px;
  }

  .single-news-content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .news-content-img {
    width: 320px;
  }

  .nci-img {
    width: 320px;
  }

  .fixed-vertical-menu {
    display: none;
  }

  .look-more-block {
    width: 100%;
  }

  .lm-block-single {
    width: 320px;
  }

  .lm-block-img {
    width: 320px;
  }

  .news-container-shoppingandmakeup {
    width: 320px;
    padding: 0;
  }

  .news-photo-exclusive {
    width: 320px;
    height: 180px;
  }

  .news-date-day-exclusive {
    font-size: 20px;
  }

  .news-date-month-exclusive {
    font-size: 9px;
  }

  .news-photo-mvivetv {
    width: 320px;
    height: 180px;
  }

  .news-date-block-mvivetv {
    width: 70px;
    height: 70px;
  }

  .news-date-block-mvivetv p {
    font-size: 9px;
  }

  .mvivetv-h2 {
    padding-top: 120px;
  }

  .youtube-player {
    width: 320px;
  }

  .news-photo-shoppingandmakeup {
    width: 320px;
    height: 180px;
  }

  .shoppingandmakeup-h2 {
    padding-top: 120px;
  }

  .news-date-block-shoppingandmakeup {
    width: 70px;
    height: 70px;
  }

  .news-date-block-shoppingandmakeup p {
    font-size: 9px;
  }

  .single-partners-block {
    margin: 0;
    width: 320px;
  }

  .single-partners-logo {
    width: 320px;
  }

  /* PROFILE */

  .name-profile {
    font-size: 20px;
  }

  .profile-user-info-block {
    top: 12px;
  }

  .profile-user-info {
    padding-left: 0;
  }

  .gallery {
    padding-left: 10px;
  }

  .up-logo-main {
    width: 100%;
  }

  .up-logo {
    width: 100%;
  }

  .admixer-mobile {
    display: block;
  }

  .up-lvl-main-h2 {
    padding-bottom: 25px;
    padding-top: 70px;
  }

  .pgwSlider {
    display: none;
  }

}